<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="header" id="nav-bar-login">
        <nav class="navbar navbar-light bg-light">
            <div class="brand">
                <h2 class="navbar-brand">To Do List Application</h2>
                <h5 style="display: inline-block"><a href="{{ url_for('homePage') }}">See All Notes</a></h5>
            </div>
            <div id="actions-container" class="d-flex flex-wrap">
                <form action="" method="get" class="form-inline">
                    <input type="text" class="form-control" placeholder="Search list..">
                    <button class="btn btn-outline-success">Search</button>
                </form>
                <button class="btn btn-default">
                    <a href="{{ url_for('CreatingList') }}">Create a New Note</a>
                </button>
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-log-out"></span> Log Out
                </button>
            </div>
        </nav>
    </div>
    <div class="content">{% block content %}{% endblock %}</div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
{% block script %}
{% endblock %}
</html>