{% extends "BaseLoginPage.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="login_container col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
        <div class="card-body">
            <h3 class="card-title text-center">Sign In</h3>
            <form action="" method="post" class="form-signin">
                <div class="username_field_container form-group">
                    <label for="email_input">Username Field</label>
                    <input type="text" name="user_email" class="username_field form-control" id="email_input" placeholder="Email Adress"
                        required autofocus>
                </div>
                <div class="password_field_container form-group">
                    <label for="password_input">Password Field</label>
                    <input type="password" name="user_password" class="password_field form-control" id="password_input"
                        placeholder="Password" required>
                </div>
                <div class="custom-control custom-checkbox mb-3 form-group">
                    <input type="checkbox" name="remember_user" id="customCheck1" class="custom-control-input">
                    <label for="customCheck1" class="custom-control-label">Remember Me</label>
                </div>
                <div class="submit-button-container form-group">
                    <button class="submitbutton btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log
                        In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}